<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Clockwork Orange - members</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1 class="title">Yeet suggestion</h1>
<div class="row">
    <div class="col-lg-10 mt-5 mb-5">
        <table class="table is-bordered is-hoverable" style="width: 100%">
            <thead>
            <tr>
                <th>Member to yeet</th>
                <th>Last Action</th>
                <th>Yellow flags</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${yeet}">
                <td th:text="${member.username}" />
                <td th:text="${member.lastAction}" />
                <td th:text="${member.yellowFlag}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h1 class="title">Weekly report</h1>
<div class="row">
    <div class="col-lg-10 mt-5 mb-5">
        <table id="example" class="table is-bordered is-hoverable" style="width: 100%">
            <thead>
            <tr>
                <th>lp</th>
                <th>Member</th>
                <th>Xan usage</th>
                <th>Hits made</th>
                <th>Xan / hits difference</th>
                <th></th>
                <th>Yellow card</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report: ${reports}">
                <td th:text="${reportStat.index+1}"/>
                <td th:text="${report.member.username}" />
                <td th:text="${report.xanUsed}"></td>
                <td th:text="${report.hits}"/>
                <td th:text="${report.hits} - ${report.xanUsed * 10}"></td>
                <td></td>
                <td th:text="${report.member.yellowFlag}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>